@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
/*Все тело по умолчанию*/
body {
font-family: "PT-sans", sans-serif;
color: black;
background-color: #FFFFFF;
}
/*header*/
.page-header {
    color: #000000;
    background: #FFFFFF;
}
/*Ссылки в nav*/
.navigation-link {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: black;
    background-color: #FFFFFF;
    text-decoration: none;
}
/*Кнопка "хочу сюда"*/
.button-link{
    background-color:#756257; ;
    color: #FFFFFF;
    font-size:16px;
    line-height: 20px;
    text-transform: uppercase;
}
/*div для фонового изображения седона*/
.gorgeous {
    background-image: url("/images/background-3.jpg");
    background-position: no-repeat;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
/*весь main*/
.main-index{
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    color: black;
}
.property{
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: black;
    text-transform: uppercase;
}
.cause {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    color: #333333;
}
/* настоящий городок*/
.reasons {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}
/*Список из преимуществ (uppercase)*/
.reasons h3 {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}
/*параграфы из преимуществ цвет #333333*/
.reasons p {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
/*Задал белый цвет параграфам исключением*/
.card1 p {
    color: #FFFFFF;
}
.card2 p {
    color: #FFFFFF;
}
/*Фоны для карточек*/
.reasons-item:nth-child(1) {
    color:#ffffff;
background-color:#83B3D3 ;
}
.reasons-item:nth-child(5) {
    color:#ffffff;
background-color:#83B3D3 ;
}

.reasons-item:nth-child(2n) {
    background-color:rgba(131, 179, 211, 0.12);;
}

.reasons-item:nth-child(7) {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
background: rgba(131, 179, 211, 0.2);
}
/*Секция рассылки*/
.interested {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.data-travel {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}
.button-catalog {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 36px;
    text-decoration: none;
    background-color:#756257;
}
/*Секция подписаться*/
.mailing {
    background-image: url("/images/background-1.jpg");
    background-position: no-repeat;
    background-size: 100% auto ;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}
.mailing-description {
    font-size: 22px;
    line-height: 26px;
    text-transform: none;
    font-weight: normal;
}
.button-email {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color:#83B3D3; ;
}
/*Телефон*/
.phone-number {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-size:40px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}




/*Внутренняя страница*/

/*Основное Фильтры*/
.filter-hostel {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    color: #FFFFFF;
    background-image: url("/images/background-2.jpg");
    background-position: no-repeat;
    background-size: 100% auto;
}


/*Заголовок фильтры*/
.filter-hostel h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}
/* ссылка в фильтрах*/
.breadcrumbs a {
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;

}
/*Инфраструктура и жилье фильтры*/
.catalog-filter-title {
    font-size:20px;
    line-height: 26px;
}
.catalog-filter-item {
    font-size: 18px;
    line-height: 23px;
}

/* Фильтр стоимость*/
.filter-range {
    font-size:20px;
    line-height: 26px;
}

.number-button {
    font-size: 18px;
    line-height: 23px;
}
/*кнопка сбросить*/
.button-filter {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 23px;
}
/*Кнопка применить*/
.color {
    background-color:#83B3D3;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
}
/*Кнопка найдено*/
.search-hostels {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
}
/*Кнопка select*/
.select-control {
    font-family: "PT-sans", sans-serif;
    font-style: normal;
    color: black;
    font-size: 18px;
    line-height: 23px;
}
/*Название гостиницы и ссылка*/
.name-hostel {
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
}
.hostel-from-link  {
    color: black;
text-decoration: none;
}
/*Гостиница и цена*/
.price {
    font-size: 18px;
line-height: 23px;
}
/*Кнопка "подробнее избранное"*/
.detail-link {
    color: #FFFFFF;
    font-size: 16px;
line-height: 21px;
text-transform: uppercase;
background-color:#756257;
}
.detail-button {
    color: #FFFFFF;
    font-size: 16px;
line-height: 21px;
text-transform: uppercase;
background-color:#83B3D3;
}
/*Рейтинг*/
.rating {
    font-size: 16px;
line-height: 21px;
text-transform: uppercase;
   background-color:#F2F2F2;
}

/*Кнопка загрузить еще*/
.button-upload{
    font-size: 20px;
line-height: 26px;
font-weight: bold;
color: #FFFFFF;
text-transform: uppercase;
text-align: center;
background-color:#83B3D3;
}

/*Номера страниц*/
.page-list {
font-weight: bold;
font-size: 20px;
line-height: 26px;
}

.page-link {
    color: #FFFFFF;
    background-color:#83B3D3;
    text-decoration: none;
}
.page-hostel-number {
    color: #333333;
    font-size: 18px;
line-height: 23px;
}

.mailing-hostels{

    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #000F;
    text-transform: uppercase;
}
.mailing-hostels h2 {
    font-size: 30px;
}

.mailing-description-catalog {
    font-size: 22px;
    line-height: 26px;
    text-transform:none;
    color: #333333;
}